.open-review-header{
    text-align: center;
}

.filters {
    display: flex;
    justify-content: space-evenly;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-top {
  display: flex;
  justify-content: space-between;
}



@media only screen and (min-width: 700px) {
    .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
  }