.open-review-header {
    text-align: center;
}

.sort-form
.filters {
    display: flex;
    justify-content: space-evenly;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 1%;
}

.header-container > h2{
font-size: 1.5em;
}


@media only screen and (min-width: 700px) {
  .card-container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  .header-container {
    flex-direction: row;
  }

  .header-container > h2{
    font-size: 1.5em;
    margin: 2% 0 0 2%;
    }

  .header-container > form{
    margin-top: 2%;
  }

}