.new-review-page {
  margin: 0 3%;
}


.new-review-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}

.new-review-form > select, input{
  margin: 0;
  height: 10%;
}

.summary-input {
  height: 40%;
  resize: none;
}

.submit-heading {
  font-size: 1.5em;
}

.new-review-form > button {
  width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #1F4534;
  cursor: pointer;
  background-color: #A7E3D9;
  outline: none;
}

.new-review-form > button:hover {
  transform: scale(1.05);
}