.card {
    display: flex;
    flex-direction: column;
    padding: 6%;
    margin: 6%;
    border: 1.14px solid #000804;
    width: 80%;
    height: 45vh;
    justify-content: space-around;
    background-color: #F6F8F7;
    box-shadow: rgba(0, 0, 0, 0.603) 0px 1px 15px 0px;
    border-radius: 6px;
}

.user-picture {
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
}

.card-specifics {
    display: flex;
    justify-content: space-between;
}

.card-specifics > p {
  align-self: center;
  margin: auto 0 0 0;
}


@media only screen and (min-width: 700px) {
    .card {    
        margin: 3%;
        width: 30%;
        height: 40vh;
    }
  }

  @media only screen and (min-width: 950px) {
    .card {    
        margin: 3%;
        padding:2%;
        width: 22%;
        height: 40vh;
    }
  }

  @media only screen and (min-width: 1500px) {
    .card {    
        margin: 1%;
        padding:2%;
        width: 18%;
        height: 45vh;
    }
  }