nav {
    background-color: rgb(88, 88, 88);
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
}

.link{
    align-self: center;
    text-decoration: none;
}

.icon {
    height: 25px;
}