nav {
    background-color:#333333;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
}

.link{
    align-self: center;
    text-decoration: none;
}

.icon {
    height: 25px;
}

.app-logo{
    display: flex;
    width: 30%;
}

.app-logo > h1 {
    color: white;
    margin: 0;
    align-self: center;
}


.pear-logo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    -moz-transition: -moz-transform ease 0.6s;
    -webkit-transition: -webkit-transform ease 0.6s;
    -o-transition: -o-transform ease 0.6s;
    -ms-transition: -ms-transform ease 0.6s;
    transition: transform ease 0.6s;
}
.pear-logo:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}